.container-stat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:2.5 2rem;
    border-radius: 1rem;
}

.container-globale-stat{
 display: grid;
 grid-template-columns: repeat(4, 1fr); 

 font-size: 1rem;
}

.card-globale-stat {
  line-height: 1;
  font-size: 1.2rem;
  margin-right: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 2px 10px 5px rgba(128, 128, 128, 0.12);
}

.globale-stat-container3 {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-gap: 0.5rem;
 border-radius: 1rem;
}

.globale-stat-container1 {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-gap: 0.5rem;
 border-radius: 1rem;
}
.container_taux{
    display: grid;
    grid-template-columns: 50% 45%;
    gap: 5%;
    padding:10px 20px !important;
  }

  @media screen and (max-width: 1340px) {
  
    .container-globale-stat{
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        font-size: 1rem;
       }
       
  }
  @media screen and (max-width: 1000px) {
  
    .container-globale-stat{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        font-size: 1rem;
       }
       
  }

  @media screen and (max-width:500px) {
  
    .container-globale-stat{
        display: grid;
        grid-template-columns:  1fr; 
        font-size: 1rem;
       }
    /* .globale-stat-container3 {
      display: grid;
      grid-template-columns: 1fr;
      border-radius: 1rem;
    } */
  }