.time {
    color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    margin-right:30px;
  }
  
  .time svg {
    margin: 0 5px;
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 600;
    width: 20px;
    height: 20px;
  }
  
  .time p {
    padding-top: 5px;
    margin: 0 5px;
    text-transform: capitalize;
    font-weight: 600;
  }